#app {
  font-family: 'Montserrat', sans-serif;
  color: #7c3a00;
}
p {
  line-height: 1.57;
  color: #000;
}

#app header {
  height: 93px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

#title-center,
#links-left,
#links-right {
  flex-basis: 33.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-center {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

#links-left {
  justify-content: flex-start;
  margin-left: 80px;
}

#links-right {
  justify-content: flex-end;
  margin-right: 80px;
}
#links-right a:hover {
  background-color: #fff2f5;
}

#app header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700px;
  letter-spacing: 1.16px;
  text-transform: uppercase;
}

#links-left a:visited,
#links-right a:visited {
  color: #7c3a00;
}

#links-left a {
  padding: 5px 12px;
}

#links-left a:hover {
  border-bottom: 1px solid #f6a2b6;
}

.nav-button {
  padding: 12px 24px;
  border: 1px solid #f6a2b6;
  margin: 5px;
}

.landing-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

#home-header {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border-bottom: 0.5px lightgray solid;
  border-top: 0.5px lightgray solid;

  /* flex-wrap: wrap; */
}
#home-header-text {
  flex-basis: 30%;
}
#home-header img {
  height: 200px;
  width: auto;
}
#home-header span {
  color: #000;
  font-size: 30px;
  letter-spacing: 1.5;
  line-height: 40px;
  text-transform: uppercase;
}
#allCupcakesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.cupBox {
  flex-basis: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cupcakes {
  width: 200px;
  height: auto;
}

@media only screen and (max-width: 1020px) {
  #links-left {
    justify-content: flex-start;
    margin-left: 10px;
  }

  #links-right {
    justify-content: flex-end;
    margin-right: 10px;
  }
  #title-center {
    font-size: 40px;
  }

  #home-header {
    padding: 20px;
  }
  #home-header-text p {
    font-size: 13px;
  }
  #home-header span {
    font-size: 22px;
  }
  #home-header img {
    height: 175px;
  }
  #home-header p {
    margin: 1px;
  }
}

@media only screen and (max-width: 750px) {
  #app header {
    display: flex;
    flex-direction: row;
    height: 100px;
    flex-wrap: wrap;
  }
  #app header h1 {
    margin: 0px;
    flex-basis: 100%;
  }
  #links-right,
  #links-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    flex-basis: 50%;
    height: 50px;
  }

  #links-right a,
  #links-left a {
    margin: 5px;
    padding: 0px;
  }
  #title-center {
    font-size: 30px;
  }
  .nav-button {
    padding: 1px 4px;
    margin: 2px;
    border: none;
  }
  #links-left {
    order: 2;
  }
  #links-right {
    order: 3;
  }
  #home-header-text {
    order: 2;
    text-align: center;
  }

  #home-header {
    padding: 15px;
    flex-wrap: wrap;
  }
  #home-header-text p {
    font-size: 11px;
    width: 400px;
  }
  #home-header span {
    font-size: 13px;
  }
  #home-header p {
    margin: 0px;
  }
  #home-header img {
    height: 135px;
  }
}
